extends ../layout.pug

block deps
    link(rel="stylesheet", href="./index.css")
    link(rel="stylesheet", href="/lib/confetti.css")
    script(type="text/javascript", src="/lib/confetti.js")
    script(type="text/javascript", src="./timer.js")
    script(type="text/javascript", src="./index.js")

block content
    canvas#confetti
    #score
    #hi-score
    #instruction
        .text
    #timer

    audio.color
        source(src='/assets/speed/blue.m4a')
    audio.color
        source(src='/assets/speed/yellow.m4a')
    audio.color
        source(src='/assets/speed/green.m4a')
    audio.color
        source(src='/assets/speed/red.m4a')
    audio.lose
        source(src='/assets/sounds/fail/not-enough-coins-to-buy.wav')
    audio.win
        source(src='/assets/sounds/win/cranker-win-sound.wav')
