[Unit]
Description=Bambino Web Service

[Service]
ExecStart=/home/pi/.nvm/versions/node/v6.9.2/bin/node /home/pi/Projects/bambino/app.js
Restart=on-failure
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bambino-web

[Install]
WantedBy=multi-user.target
