extends ../layout.pug

block deps
    link(rel="stylesheet", href="./index.css")
    script(type="text/javascript", src="/lib/book.js")
    script(type="text/javascript", src="./index.js")

block content
    #page
