extends layout.pug

block deps
    link(rel="stylesheet", href="/lib/menu.css")
    script(type="text/javascript", src="/lib/menu.js")

    script.
        let menu = new Menu("#menu");

        fetch(
            new Request("/api/menu")
        ).then(response => {
            response.json().then(data => {
                menu.catalog = utils.shuffle(data);
                menu.buildUi();
            });
        });


block content
    #menu
