html
    head
        title Bambino
        meta(charset="utf-8")
        link(rel="stylesheet", href="/lib/default.css")
        link(rel="stylesheet", href="/vendor/animate.css/animate.css")
    body
        block content

        script(type="text/javascript", src="/vendor/zepto/zepto.js")
        script(type="text/javascript", src="/vendor/eventemitter2/lib/eventemitter2.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")

        script(type="text/javascript", src="/lib/utils.js")
        script(type="text/javascript", src="/lib/gpio.js")

        block deps
